* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.list {
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    background: #aad4c8;
    letter-spacing: 0.1rem;
    box-shadow: 0px 0px 8px rgb(177, 177, 177);
    transform: scale(1);
    transition: all 0.2s;
}

.list:hover {
    background: #81bfaa;
    transform: scale(1.05);
}