html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  overflow-x: hidden;
  position: relative;
  @extend %ubuntu-regular;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
#check__menu {
  display: none;
}
.header__mobile-menu__label {
  visibility: hidden;
}
.header__mobile-menu {
  display: none;
}
.container {
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
}