%ubuntu-light{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
%ubuntu-bold{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
%ubuntu-regular{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}